<div className="row">
    <label>Avatar</label>
    <div className="placeholder">Select an avatar</div>
    <div className="select-avatar">
        <div className="avatar animate"><img src="i/avatars/sandy.png"/></div>
        <div className="avatar animate selected"><img src="i/avatars/sandy.png"/></div>
        <div className="avatar animate"><img src="i/avatars/sandy.png"/></div>
        <div className="avatar animate"><img src="i/avatars/sandy.png"/></div>
        <div className="avatar animate"><img src="i/avatars/sandy.png"/></div>
        <div className="avatar animate"><img src="i/avatars/sandy.png"/></div>
        <div className="avatar animate"><img src="i/avatars/sandy.png"/></div>
        <div className="avatar animate"><img src="i/avatars/sandy.png"/></div>
        <div className="avatar animate"><img src="i/avatars/sandy.png"/></div>
        <div className="avatar animate upload">
            <input name="avatar" type="file"/>
            <div className="text animate">Upload your own</div>
        </div>
    </div>
</div>